#!/bin/bash
#
### template.tftpl
# Description of what the shellscript does
# Tested on <OS>

set -e
set -x

echo "[INFO]: Starting script"

echo "tf_var is " + ${tf_var}

echo "[INFO]: Script completed"